.X{
	background-color:blue;
	height:400px;
	width:400px;
}


.box{
	border-style:solid;
	width:100px;
	height:100px;
	float:left;
	text-align:center;
	line-height:100px;
	vertical-align:middle;
	background-color:red;
	border-color:green;
}

#players{
	float:left;
	
}

#board{
	float:right;
	width:350px;
	height:350px;
}

#game{
	border-style:solid;
	width:600px;
	height:600px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	background-color:green;
	margin-bottom:25px;
}





body{
	background-color: blue;
	text-align:center;
}
#container{
	background-color:orange;
	border-radius:100px;
	padding:100px;
	text-shadow
}
#left{
	float:left;
}
#right{
	float:left;
}
#middle{
	float:left;
}
#gallery{
	width:265px;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25;
}
img { 
		height:100px;
}