
body{
	background-color: blue;
	text-align:center;
}
#container{
	background-color:orange;
	border-radius:100px;
	padding:100px;
	text-shadow
}
#left{
	float:left;
}
#right{
	float:left;
}
#middle{
	float:left;
}
#gallery{
	width:265px;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25;
}
img { 
		height:100px;
}